@tailwind base;
@tailwind components;
@tailwind utilities;

.icon:hover svg path{
  fill: #230346;
}
.icon svg path{
  fill: #B6A4E6;
}

:root {
  --card-height: auto;
  --card-top-offset: 1em;
  --numcards: 4;
  --outline-width: 0px;
}


#cards {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numcards), var(--card-height));
  gap: var(--card-margin);
  padding-bottom: calc(var(--numcards) * var(--card-top-offset));
  margin-bottom: var(--card-margin);
}


.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--card-top-offset));
}

/* Animation */
@supports (animation-timeline: works) {

  @scroll-timeline cards-element-scrolls-in-body {
    source: selector(body);
    scroll-offsets:
      selector(#cards) start 1,
      selector(#cards) start 0
    ;
    start: selector(#cards) start 1;
    end: selector(#cards) start 0;
    time-range: 4s;
  }

  .card {
    --index0: calc(var(--index) - 1);
    --reverse-index: calc(var(--numcards) - var(--index0));
    --reverse-index0: calc(var(--reverse-index) - 1);
  }


  @keyframes scale {
    to {
      transform:
        scale(calc(
          1.1
          -
          calc(0.1 * var(--reverse-index))
        ));
    }
  }
}

@media (max-width:768px) {
  :root {
    --card-height: 100vw;
  }
}

.outer {
  margin: 50px;
}

.button {
  display: flex;
  justify-content:center ; 
}

.text:hover {
  background-position: left bottom;
  color: #65AF0D;
}

.text {
  text-align: center;
  font-size: 1.5rem;
  line-height: 30px; 
  color: white;
  transition: all .6s ease-out;
  display: flex ;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5rem;
  padding: 1.5rem 2rem;
  background: linear-gradient(to right,white 50%, #65AF0D  50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}
