@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.icon {
  width: 6rem;
  height: 6rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  background-color: #230346;
  z-index: 9999 !important;

  border-radius: 50%;
  position: relative;
  padding-left: 1.2rem;

  .title {
    color: #230346;
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    white-space: nowrap;
    z-index: 9999 !important;
  }

  svg {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
  }

  .title {
    transition: all 0.2s ease-in-out;
  }
}

.showonhover{
    width: 18rem;
    justify-content: flex-start;
    border-radius: 0;
    border-radius: 20rem;
    background-color: #b6a4e6;
}



.parant {
  display: flex;
  justify-content:center ; 
  padding-top: 1rem;
}

.text:hover {
  background-position: left bottom;
  color: #5AA808;
}

.text {
  text-align: center;
  font-size: 2rem;
  line-height: 30px; 
  color: white;
  transition: all .6s ease-out;
  display: flex ;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5rem;
  padding: 1.5rem 2rem;
  background: linear-gradient(to right,#ebf7da 50%, #5AA808  50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

@media (max-width:768px) {
  .text{
    font-size: 1.2rem;
    padding: .5rem 1rem;
  }
}

.navbar_btn {
  display: flex;
  justify-content:center ; 
}

.navbar_btn .btn:hover {
  background-position: left bottom;
  color: #230346;
}

.navbar_btn .btn {
  text-align: center;
  font-size: 1.5rem;
  line-height: 30px; 
  color: white;
  transition: all .6s ease-out;
  display: flex ;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5rem;
  padding: 1rem 2rem;
  background: linear-gradient(to right,#fff 50%, #230346  50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

@media (max-width:768px) {
  .navbar_btn .btn{
    font-size: 1.2rem;
    padding: .5rem 1rem;
  }
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-300px * 7));
  }
}

.slider {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: transparent;
}

.slider .slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(300px * 14);
}

@media screen and(max-width: 600px) {
  .slider .slide-track {
    width: calc(10% * 14);
  }
}


@keyframes scrollback {
  0% {
    transform: translateX(calc(-300px * 7));
  }

  100% {
    transform: translateX(0);
  }
}

.slider-back{
  overflow: hidden;
  background-color: transparent;
}

.slider-back .slide-track-back {
  animation: scrollback 25s linear infinite;
  display: flex;
  width: calc(300px * 14);
  }

@media screen and(max-width: 600px) {
  .slider-back .slide-track-back {
    width: calc(10% * 14);
  }
}




.card {
  perspective: 600px;
  width: 100%;
  color: #fff;
  border-radius:.9rem;
  position: sticky;
  top: 80px;
  transform-origin: 50% 50%;
  overflow: hidden;
}










